/node_modules
/vendor

# Laravel Specific
.env
.env.backup
.env.production
composer.lock
package-lock.json

# Database sqlite
/database/database.sqlite
/database/database.sqlite-journal

# Storage
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

/storage/app/public/*
/storage/logs/*
!/storage/logs/.gitignore

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db
